.radiant {
  background-color: #1c9909;
}

.dire {
  background-color: #8e0000;
}

.team-name {
  padding: 0 0 0 5px;
}

.team-container {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  background: #505356;
  padding: 0 0 5px 0;
}
